body {
  margin: 0;
  padding: 0;
  background-color: #0b0819;
}
.container2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  background-color: #181627;
  padding-top: 1rem;
  border-radius: 22px;
  filter: drop-shadow(0 0 5px rgb(70, 66, 94));
}
.ethereum_icon {
  width: 50px;
  height: 40px;
}
.bitcoin_icon{
  width: 36px;
  height: 35px;
  margin-left: 7px;
}
.matic_icon{
  width: 45px;
  height: 36px;
}
.binance_icon{
  width: 34px;
  height: 32px;
  margin-left: 0.5rem;
}
.xrp_icon{
  width: 32px;
  height: 31px;
  margin-left: 0.5rem;
}
.solana_icon{
  width: 42px;
  height: 35px;
}
#xmark {
  margin-left: 400px;
  color: #dcdcec;
  font-size: 28px;
}
input[type="search"] {
  position: relative;
  padding: 1rem 7rem 1rem 4.5rem;
  border: 1px solid rgba(110, 86, 248, 0.25);
  background-color: #181627;
  outline: none;
  border-radius: 30px;
  color: white;
}
input[type="search"]::placeholder {
  color: #d2d2d2;
  font-family: "Poppins", sans-serif;
}
.fa-magnifying-glass {
  position: absolute;
  left: 75px;
  z-index: 1;
  top: 71px;
  color: #d2d2d2;
  font-size: 20px;
}
li {
  list-style: none;
  margin: 0.3rem 0;
  color: white;
  display: flex;
  align-items: center;
  padding: 0.4rem 14rem 0.4rem 0.5rem;
  border: none;
  border-radius: 2px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  cursor: pointer;
}
li:hover{
  background-color: #1b192d;
}
.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.9rem 2.5rem 4rem 0.5rem;
}
.searchContainer {
  margin-left: 2rem;
}

.chainNames{
  padding-left: 12px;
}
.chainNames1{
  padding-left: 7px;
}