body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #040406;
  color: white;
}
.container {
  height: 100vh;
}
nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  height: 69px;
  background-color: #0b0819;
  font-family: "Poppins", sans-serif;
  padding: 0 6rem 0 2rem;
}

.nav_li {
  list-style: none;
  padding: 10px;
}
.menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  width: 356px;
  height: 42px;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  color: #5a5a5a;
  margin-left: 5rem;
}
.nav_li:hover {
  color: #627eea;
  border-bottom: 2px solid #627eea;
  margin-bottom: -13px;
  cursor: pointer;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar button {
  width: 140px;
  height: 40px;
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background: linear-gradient(45deg, #3387d5 20%, #5942cf, #7a06c9);
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 91vh; */
}
.card {
  padding: 0 39px 35px 39px;
  filter: drop-shadow(0 0 4px rgb(70, 66, 94));
  box-sizing: border-box;
  background: #0b0819;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 18px;
  position: relative;
  margin: 88px 0;
}

.heading {
  display: flex;
  align-items: center;
  padding-top: 3rem;
  gap: 14rem;
}
.currentValue {
  font-family: "Poppins", sans-serif !important;
  font-size: 12px;
  font-weight: 100 !important;
  color: #c5c5c5;
}

.real_time_price {
  color: #627eea;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
}
.dropDownList,
.investAmountInput {
  background-color: #1c1731;
  border-radius: 10px;
  border: none;
  box-shadow: none;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  color: white;
  padding-left: 20px;
}
.dropDownList {
  display: flex;
  align-items: center;
  padding: 0.45rem;
  cursor: pointer;
}
.ethereumImg {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 6px;
}
.imageDiv {
  width: 70px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-color: #1c1731;
  position: absolute;
  top: -20px;
  left: 198px;
  z-index: 1;
}
.inputDiv p {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  align-items: left;
}
.inputNumber {
  width: 390px;
  height: 60px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  padding-left: 12px;
  border: none;
  box-shadow: inset 0 0 0.1px 0.35px rgba(110, 86, 248, 0.3);
  background: #0b0819;
  padding-left: 20px;
}
.inputNumber:focus {
  outline: none;
}
label,
.inputNumber {
  position: relative;
  display: block;
  width: 390px;
  height: 60px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

label::after {
  content: attr(data-domain);
  position: absolute;
  top: 16px;
  left: 338px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  display: block;
  color: white;
  font-weight: bold;
  font-weight: 200;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
.buyBtn {
  width: 389px;
  height: 50px;
  margin-top: 2rem;
  background: linear-gradient(45deg, #3387d5 20%, #5942cf, #7a06c9);
  border: none;
  border-radius: 30px;
  font-size: 18px;
  color: white;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.circle {
  background-color: #040406;
  display: block;
  width: 95px;
  height: 53px;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  top: 1px;
  left: 185px;
  overflow: hidden;
  position: absolute;
  filter: drop-shadow(0 0 4px rgb(70, 66, 94));
}
.dropDownImg1 {
  width: 25px;
  height: 25px;
  padding-left: 8px;
}
.fa-sort-down {
  font-size: 20px;
  margin-left: 225px;
  margin-bottom: 10px;
}
.dropDownList h3 {
  font-weight: 200;
  padding-left: 8px;
}

.card2 {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #181627;
  padding-top: 1rem;
  border-radius: 22px;
  filter: drop-shadow(0 0 5px rgb(70, 66, 94));
}

.xmark {
  margin-left: 362px;
  cursor: pointer;
}
.searchbarInput {
  position: relative;
  padding: 0.8rem 7rem 0.8rem 3rem;
  border: 1px solid rgba(110, 86, 248, 0.25);
  background-color: #181627;
  outline: none;
  border-radius: 30px;
  color: white;
}
input[type="text"]::placeholder {
  color: #d2d2d2;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.magnifyingGlass_img {
  position: absolute;
  left: 60px;
  z-index: 1;
  top: 71px;
  color: #d2d2d2;
  font-size: 20px;
}
.icons {
  list-style: none;
  margin: 0.3rem 0;
  color: white;
  display: flex;
  align-items: center;
  padding: 0.5rem 13rem 0.5rem 0.8rem;
  border: none;
  border-radius: 2px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  cursor: pointer;
}
.icons:hover {
  background-color: #1b192d;
}
.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.9rem 1rem 1rem 0.5rem;
}
.searchContainer {
  margin-left: 2rem;
}
.chainNames {
  padding-left: 12px;
}
.container2 {
  display: none;
}
.backgroundOpacity {
  opacity: 0.2;
}
